.file_input {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
  height: 20%;
  width: 80%;
  padding: 20px;
  color: black;
  border: 2px black dashed;
  border-radius: 12px;
}

.filePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.filesListContainer {
  width: 80%;
  max-width: 300px;

  user-select: "none";
  padding: 14px;
  margin-bottom: 12px;
  background-color: var(--quad-color);
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.savedFile {
  user-select: "none";
  padding: 14px;
  margin-bottom: 12px;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.savedFile p {
  font-size: 1rem;
}

.documentIcon {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.fileReturnButton {
  align-self: end;
  margin-right: 20px;
}
