.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  gap: 0.5rem;
}

.homepage h1 {
  scale: 0.8;
}

.homepage-container {
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.userItineraryControls {
  max-width: 400px;
  padding: 20px;
  width: 80%;
  background-color: var(--quad-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.userItineraryButton {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 15px 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.userItineraryList li,
.userItineraryList li button {
  width: 100%;
}

.userItineraryList {
  max-width: 400px;
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--quad-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
}

.userItineraryList ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.userItineraryButton {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.userItineraryButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.userItineraryButton p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 90%;
  max-width: 450px;
}

.sign-out {
  align-self: flex-end;
  margin: 10px;
  min-height: 15px;
  font-size: 10px;
}

.createAndJoin {
  width: 100%;
}

.CreateAndJoinButtons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.CreateButton {
  max-width: 110px;
  width: 40%;
  font-size: 50%;
}

.JoinButton {
  max-width: 110px;
  width: 40%;
  font-size: 50%;
}

.homeSearchContainer {
  flex-direction: column;
  gap: 0.5rem;
}

.homeSearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1rem;
}

.homeSearchBar button {
  max-width: 100px;
}

.homeSearchBar input {
  border: none;
  border-radius: 15px;
  padding: 10px;
  padding-left: 15px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
  font-size: small;
  font-weight: bold;
  max-width: 200px;
}

.homeSearchBar input:focus {
  outline-color: white;
  place-content: "Enter your message!";
}
