.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  gap: 0.5rem;
}

.homepage h1 {
  scale: 0.8;
}

.homepage-container {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.userItineraryControls {
  max-width: 400px;
  padding: 20px;
  width: 80%;
  background-color: var(--quad-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.userItineraryButton {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 15px 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.userItineraryList li,
.userItineraryList li button {
  width: 100%;
}

.joinItineraryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--quad-color);
  box-sizing: border-box;
}

.joinItineraryContainer input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--quad-color);
  border-radius: 5px;
  background-color: white;
  color: var(--text-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.joinItineraryContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.joinItineraryContainer label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-text-color);
  justify-content: center;
  align-items: center;
}

.joinItineraryContainer input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.createItineraryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--quad-color);
  box-sizing: border-box;
}

.createItineraryContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.createItineraryContainer label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-text-color);
}

.createItineraryContainer input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--quad-color);
  border-radius: 5px;
  background-color: white;
  color: var(--text-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.createItineraryContainer input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.userItineraryList {
  max-width: 400px;
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--quad-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
}

.userItineraryList ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.userItineraryButton {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.userItineraryButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.userItineraryButton p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 90%;
  max-width: 450px;
}

.sign-out {
  align-self: flex-end;
  margin: 10px;
  min-height: 15px;
  font-size: 10px;
}
