.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 80%;
}

.homepage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userGroupControls {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--quad-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.userGroupButton {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 15px 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.userGroupList li,
.userGroupList li button {
  width: 100%;
}

.userGroupList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.joinGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--quad-color);
  box-sizing: border-box;
}

.joinGroupContainer input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--quad-color);
  border-radius: 5px;
  background-color: white;
  color: var(--text-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.joinGroupContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.joinGroupContainer label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-text-color);
  justify-content: center;
  align-items: center;
}

.joinGroupContainer input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.createGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--quad-color);
  box-sizing: border-box;
}

.createGroupContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.createGroupContainer label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-text-color);
}

.createGroupContainer input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--quad-color);
  border-radius: 5px;
  background-color: white;
  color: var(--text-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.createGroupContainer input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.userGroupList {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--quad-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  box-sizing: border-box;
}

.userGroupList ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.userGroupButton {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;

  position: relative;
  overflow: hidden;
}

.userGroupButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.userGroupButton p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 90%;
  margin-top: 30px;
  max-width: 450px;
}
