@import "./map_page.css";
@import "./styled_button.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./homepage.css";
@import "./itinerary.css";
@import "./locationdetails.css";

:root {
  --text-color: #22223b;       /* Darkest color for the primary text */
  --light-text-color: #ffffff; /* Keep as white for contrast */
  --primary-color: #4a4e69;    /* Mid-tone color for primary elements */
  --secondary-color: #9a8c98;  /* Light purple-grey for secondary elements */
  --tertiary-color: #ef8354;   /* Soft pinkish tone for tertiary elements */
  --mainpin-color: #f2e9e4;    /* Same as background for subtle highlights */
  --quad-color: #4a4e69;       /* Repeated for consistency */
  --background-color: #f2e9e4; /* Repeating the background color */
}




* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: light;
  color: var(--text-color);
}

.app-container,
#root {
  height: 100%;
  width: 100%;
}

.homeHeader {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
