@import "./map_page.css";
@import "./styled_button.css";
@import "./homepage.css";
@import "./login_page.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./homepage.css";
@import "./itinerary.css";

:root {
  /* --background-color: #faf9f5; */
  --text-color: #5e6472;
  --light-text-color: #faf9f5;
  --primary-color: #ffa69e;
  --secondary-color: #74beca;
  --tertiary-color: #c5ebc3;
  --mainpin-color: #c5ebc3;
  --quad-color: #e4f6e3;
  --background-color: #f0faef;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: light;
  color: var(--text-color);
}

.app-container,
#root {
  height: 100%;
  width: 100%;
}

/* // "@emotion/react": "^11.13.0",
// "@emotion/styled": "^11.13.0",
// "@mui/icons-material": "^5.16.7",
// "": "^5.16.7",
// "axios": "^1.7.4",
// "lodash": "^4.17.21",
// "mapbox-gl": "^3.6.0",
// "mui": "^0.0.1",
// "react-beautiful-dnd": "^13.1.1",
// "react-dom": "^19.0.0-rc-f90a6bcc-20240827",
// "react-router-dom": "^6.26.1", */

/* "@eslint/js": "^9.9.0",
"@types/react": "^18.3.3",
"@types/react-dom": "^18.3.0",
"@vitejs/plugin-react": "^4.3.1",
"eslint": "^9.9.0",
"eslint-plugin-react": "^7.35.0",
"eslint-plugin-react-hooks": "^5.1.0-rc.0",
"eslint-plugin-react-refresh": "^0.4.9",
"globals": "^15.9.0",
"vite": "^5.4.1" */

.homeHeader {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
