.itineraryTitle {
  text-align: center;
  font-size: 30px;
}

.itineraryPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 100px;
}

.itineraryEventContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 12px;
}

.reshuffleImg {
  height: 20px;
  width: 20px;
}

.binImg {
  height: 26px;
  width: 20px;
  cursor: pointer;
}

.itineraryEventContentContainer button,
.goToFilesButton {
  background: none;
  border: none;
}

.noLocations {
  width: 80%;
}
.noLocations img {
  width: 50%;
}

.noLocations button {
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--tertiary-color);
  border: none;
}
