.location-detail-page {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.location-detail-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 1rem;
  padding: 20px;
  height: 100%;
  background-color: var(--quad-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.location-detail-container h1 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-text-color);
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.location-detail-container h4 {
  font-size: 0.7rem !important;
  font-weight: 400;
  color: var(--light-text-color);
  margin-bottom: 15px;
}
.location-detail-container p {
  font-size: 0.8rem;
  color: var(--light-text-color);
  line-height: 1.6;
  margin-bottom: 20px;
}

.location-detail-container li {
  font-size: 0.5rem;
  color: var(--light-text-color);
  margin-bottom: 1px;
}
.location-detail-container h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: (--light-text-color);
  margin-bottom: 10px;
}

.location-detail-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.star-rating {
  width: 100px;
}

.star-rating img {
  width: 100%;
}

.ratingAndReviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ratingAndReviews p {
  margin: 0;
}

.location-detail-container .mapboxgl-canvas {
  height: 100% !important;
  width: auto !important;
}

.locationInfoSection {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-evenly;
}

.locationsExtraInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.locationsExtraInfo a {
  font-size: 12px;
  color: black;
}

.locationsExtraInfo p {
  font-size: 10px;
  margin: 0;
}

.locationsExtraInfo a img {
  width: 12px;
  margin-right: 7px;
}

.locationsExtraInfo p img {
  height: 12px;
  margin-right: 5px;
}
