.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd8c4;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: black solid 1px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 40px);
}

.sign-up-form {
  flex: 0 0 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  flex: 0 0 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 246px;
}

.form-input {
  max-width: 300px;
}

.user-submit-btn {
  border: black 1px solid;
  min-width: 100px;
  margin-top: 15px;
  min-height: 30px;
}

.switch-button {
  margin-top: 10px;
  border: none;
  background-color: #ddd8c4;
}
