.mapPage {
  height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.search-bar {
  width: 100%;
  max-width: 600px;
}

.css-1vm0r4s-MuiPaper-root {
  width: 100% !important;
  box-shadow: none !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
  width: auto !important;
  height: auto !important;
  padding: 10px !important;
  box-sizing: content-box !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center !important;
  cursor: pointer !important;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease !important;
  box-shadow: none !important;
}

.nearbyAndType {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nearbyAndType button {
  padding: 16.5px;
}
