.popup-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-rating {
  margin-bottom: 10px;
  color: var(--text-color);
}

.popup-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib-button {
  z-index: 0;
}

.mapboxgl-small-popup-content {
  max-height: 30px;
}

.mapboxgl-marker svg {
  fill: var(--primary-color);
}

.mapboxgl-popup-content {
  padding: 0px;
}

.popup-button-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
