.styled-button {
  width: auto;
  height: auto;
  padding: 10px;
  box-sizing: content-box;
  background-color: var(--primary-color);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.styled-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.styled-button.hide {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}
